/* General Styles */
h1, h2, h3, h4, h5 {
    color: rgb(64, 64, 64);
}

.chart-units, .chart-notes, .chart-title {
    color: rgb(64, 64, 64);
    font-size: 16px;
}

.chart-title {
    font-size: 20px;
    font-weight: bold;
}

.see-also, .see-also a {
    color: rgb(83, 83, 83);
    font-size: 16px;
}

.see-also a:hover {
    font-weight: bold;
    text-decoration: none;
}

/* Horizontal Rule */
hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1.5px solid rgb(64, 64, 64);
}

/* R-Markdown Styles */
.tocify {
    margin: 20px 0 10px 0;
    width: 35%;
    border-radius: 0;
    padding: 10px;
    background-color: #eee;
    font-family: arial;
}

div.tocify {
    width: 20%;
    max-width: 400px !important;
    max-height: 85%;
}

.tocify li {
    background-color: #eee;
    color: #535353;
    font-size: 17px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 1;
    color: #003399;
    background-color: #eee;
}

/* Navigation Tabs */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #003399;
    font-weight: bold;
    cursor: default;
    background-color: #eee;
    border: 1px solid #eee;
    border-bottom-color: transparent;
    font-size: 17px;
}

.nav-tabs > li > a {
    margin-right: 2px;
    border: 1px solid transparent;
    border-radius: 0;
    font-size: 17px;
    color: #535353;
    font-family: arial;
}

/* Links */
a {
    color: #003399;
    font-family: arial;
}

a:hover, a:focus {
    font-weight: bold;
    color: #003399;
    text-decoration: none;
}

/* Main Container */
.main-container {
    max-width: 1600px !important;
    margin-left: auto;
    margin-right: auto;
}

/* Header Styles */
.head-container {
    max-width: 1600px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    padding-left: 30px;
}

header {
    background: rgb(38, 38, 38);
    font-family: arial;
    color: white;
}

nav {
    float: left;
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    padding: 12px 0;
    position: relative;
}

nav ul li a {
    font-family: arial;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
}

nav ul li a:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a::before {
    content: '';
    display: block;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 5px;
    width: 0%;
    transition: all ease-in-out 150ms;
}

nav ul li a:hover:before {
    width: 100%;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

/* Back to Top Button */
.back-to-top {
    color: #FFFFFF;
    opacity: 0;
    transition: opacity .6s ease-in-out;
    z-index: 999;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 0%;
    background-color: rgb(64, 64, 64);
}

.back-to-top.show {
    opacity: 1;
}

a.back-to-top {
    font-weight: 1000;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.6;
    padding-left: 2px;
    padding-top: 14px;
}

.back-to-top:hover, .back-to-top:focus, .back-to-top:visited {
    color: #FFFFFF;
}

/* Splash Page Chart Pack Links */
section {
    display: flex;
    flex-wrap: wrap;
}

section .col {
    flex: 1;
    background: #003399;
    font-family: arial;
    color: white;
    outline: 5px solid white;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

section a {
    font-family: arial;
    color: white;
}

section a:hover, a:focus {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/* Footer Styles */
.footer {
    width: 100%;
    height: 80px;
    display: block;
    background: white;
}

.inner-footer {
    max-width: 1280px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background: white;
}

.logo-container {
    height: 100%;
    display: table;
    float: left;
    padding: 10px;
    opacity: 0.5;
}

.logo-container h3 {
    color: rgb(83, 83, 83);
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: "arial";
    font-size: 16px;
    font-weight: 200;
    border-style: solid;
    padding: 5px 15px;
}

.logo-container h3 span {
    font-weight: 700;
}

.f-info {
    height: 100%;
    display: table-cell;
    float: right;
    opacity: 0.8;
}

.f-info ul {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    list-style: none;
    text-decoration: none;
}

.f-info a li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 23px;
    padding: 5px 15px;
    float: right;
    vertical-align: middle;
    font-family: arial;
    font-size: 14px;
    color: rgb(83, 83, 83);
}

.f-info a li:hover {
    font-weight: bold;
    text-decoration: none;
}

/* Box Display */
.box {
    display: none;
    width: 100%;
}

a:hover + .box, .box:hover {
    display: block;
    position: relative;
    z-index: 100;
}

/* Logo Styles */
.logo {
    width: 50px; /* Set the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Add some space below the logo */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.logo-container {
    text-align: right; /* Center align the logo and text */
}
