/* jumbotron */

.jumbotron-index {
    color: white;
    background-image: url("../img/banner-home.jpeg");
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .jumbotron .container {
    background: rgba(255, 255, 255, 0.45);
    width: 100%;
}

.jumbotron .container h1 {
    color: #4b4b4b;
} */

.jumbotron-methodology {
    color: white;
    background-image: url("../img/banner-methodology.jpeg");
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Section intro */

#intro {
    padding: 6rem 0 6rem 0;
}

#intro h1 {
    padding-bottom: 2rem;
}

#intro .topics-sub {
    line-height: 1.5;
    color: grey;
    font-weight: 600;
}

#intro {
    padding-bottom: 0px
}

/* Section c3-chart */
/* 
.c3-axis-y-label {
    text-anchor: start;
    transform: rotate(0deg);
} */
 .chart-row {
     display: flex;
     justify-content: space-between;
 }

 #chart-button {
     cursor: pointer;
     color: black;
 }

#chart-button:hover {
    color: white;
}

#chart2 {
    display: none;
}



.c3-line {
    stroke-width:1.5px !important;
    /* stroke-dasharray: 5, 5; */
}

@media(min-width: 700px) {
    #c3-chart-mobile {
        display: none !important;
    }
    .c3-axis-y-label {
        font-size: 16px;
    }
}

@media (max-width: 700px) {
    #c3-chart {
        display: none !important
    }
    #c3-chart-mobile {
        display: inline;
    }
}


/* Section topics */

#topics p {
    color: gray;
    font-weight: 600;
}

#topics .card-deck {
    padding-top: 50px;
}

#topics .card {
    border: 0px;
    background-color: inherit;
}

#topics a {
    color: black !important;
    text-decoration: inherit;
}

#topics .card:hover {
    color: rgba(49, 70, 88, 0.5);
    text-decoration: none;
}

/* section markets */

#markets h2 {
    padding-top: 1rem;
}

#markets p {
    padding: 0 1rem 2rem 1rem;
    text-align: justify;
}

#markets a {
    color: rgb(34, 34, 34) !important;
}

#markets a:hover {
    opacity: 1;
    color: white !important;
    text-decoration: none;
}


/* ----------------------------------- */


/* About */


/* ---------------------------------- */



#about {
    /* /* background-color: rgba(153, 47, 47, 0.1); */
    color: black;
}

#about h1 {
    padding-bottom: 1rem;
}

#about .two-col p {
    color: #4b4b4b !important;
}


/* Median queries for about*/

@media (min-width: 700px) {
    #about .two-col {
        text-align: justify;
        columns: 2;
        column-gap: 2em;
    }
}


/* Section meet */

#meet {
    text-align: center;
    /* border-top: 1px solid #d5dadf; */
    padding: 2em 0;
}

#meet .card {
    border: 0px;
    background-color: inherit;
}

#meet h {
    margin: 5px 0 0 0;
}

#meet h4 {
    color: rgba(49, 70, 88, 0.5);
    margin: 5px 0 0 0;
}

#meet a {
    color: #333;
    text-decoration: none;
}

#meet ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#meet li {
    margin-bottom: 1em;
    color: #333;
}

#meet .card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.thumbnail {
    position: relative;
    display: inline-block;
    border: 0;
    color: #333;
}

.icon {
    display: none;
    font-size: 3em;
    position: absolute;
    color: white;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thumbnail a>img,
.thumbnail>img {
    line-height: 0;
    margin: 0 auto;
    padding: 10px 0 0 0;
    position: relative;
    object-fit: cover;
    object-position: 100% 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.thumbnail:hover img {
    opacity: 0.7;
}

.thumbnail:hover .icon {
    display: block;
}

#meet .fa-2x {
    padding: 7px;
}

#meet .fa-2x:hover,
.ai-2x:hover {
    color: #d5dadf;
}


/*Publications Section*/

#publications {
    text-align: center;
    padding: 2em 2em;
}

#publications p {
    font-size: 15px;
    margin-bottom: 0.3rem !important;
}

#publications i {
    padding-top: 1rem;
}

#publications a {
    padding: 0;
    margin: 0px;
    text-align: center;
}

#publications .card {
    border: 0px;
    text-align: left;
    background-color: inherit;
}

.publications-grid-container {
    display: grid;
    grid-template-columns: auto auto;
}


/* Section Media  */

#media h6 {
    color: grey;
}

.media-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


/* ----------------------------------- */


/* Tab Resources */


/* ---------------------------------- */

.subtitle {
    color: grey;
    padding-bottom: 1em;
}


/* Resources */

#resources p {
    padding-top: 1em;
    color: grey;
    font-weight: 500;
}

#methodology h4{
    color: grey;
    margin-top:-1rem;
    padding-bottom:1rem
}

/*Code section*/

.code-title {
    padding-left: 5.5em;
    margin-bottom: 0;
    padding-bottom: 1rem;
}

.code-wrapper {
    padding: 1em 1em;
}

#methodology-code .row {
    padding: 1em 0;
}

#methodology-code a {
    text-decoration: underline;
    color: rgb(23, 87, 151);
}

#methodology-code a:hover {
    color: rgb(255, 208, 37);
}


/* ----------------------------------- */


/* Tab Dashboard */


/* ---------------------------------- */

iframe {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 999999;
}